<h2>List of books: </h2>

<ul>
  {{#each booksFromDB }}
    <li>
       <a href="/books/{{this._id}}"> {{ this.title }} </a><br>
       <a href="/books/{{ this._id }}/edit"> Edit the book </a>
       <form action="/books/{{this._id}}/delete" method="POST">
          <button>Delete</button>
       </form>
    </li>
  {{/each}}
</ul>




{{!-- 

<div>
  <h2>the books are: </h2>
  <ul>

    {{#each booksFromDB}}
      <li> 
        <a href="/books/{{this._id}}">{{this.title}}</a>
         - {{this.rating}} <br>
        {{this.description}}

      </li>
    {{/each}}
  </ul>
</div> --}}